.btn-white {
    background-color: white;
    border: 1px solid #ddd;
    color: blue;
    text-decoration: none;
  }
  .btn-white:hover {
    background-color: #f8f9fa;
  }
  .btn-primary {
    background-color: rgb(40, 110, 240);
    color: white;
    border: 1px solid #ddd;
    text-decoration: none;

  }
  .btn-primary:hover {
    background-color: #f8f9fa; 
  }